<h1>All Customers</h1>
<% @customers.each do |customer| %>
	<ul id="customer">	
		<li><h3><%= customer.full_name %></h3></li>
		<li><%= image_tag customer.image, size: "250" %></li>
		<li><%= customer.phone_number %></li>
		<li><%= customer.email_address %></li>
	</ul>
<%end%>
